{{yield}}
<h2>{{title}}</h2>
<ul>
	{{#each people as |person|}}
		<li{{action "showPerson"  person }}><img src="{{person.picture.medium}}"><h2>{{person.name.first}} {{person.name.last}}</h2><h4>{{person.location.city}}, {{person.location.state}}</h4></li>
	{{/each}}
</ul>